{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="{% static './comments/css/events.css' %}">
        <link rel="stylesheet" href="{% static './comments/css/bootstrap.css' %}">
        <meta charset="utf-8">
        <title>HiQ | Comments</title>
    </head>
    <body>

        <div class="nav-bar container">
            <div class="navbar first options">
                <a href="{% url 'home:home' %}" class="btn btn-warning">Home</a>
            </div>
            <div class="navbar options">
                <button class="btn btn-warning"><a href="{% url 'events:events' %}">Events</a></button>
            </div>

            <div class="navbar options">
              <a href="{% url 'Feeds:Feeds' %}"><button class="btn btn-warning">Feeds</button></a>
            </div>

                <!-- <div class="navbar options"> -->
                  <!-- <a href="#">Projects</a> -->
                <!-- </div> -->
            <div class="navbar options">
                <a href="{% url 'developers:contact' %}" class="btn btn-warning">Contact</a>
            </div>

            <div class="navbar options">
                <a href="{% url 'profile:profile' %}" class="btn btn-warning">Profile</a>
            </div>

            <div class="navbar options">
                <a href="{% url 'gallery:view_photo' %}" class="btn btn-warning">Gallery</a>
            </div>

        </div>

        <div class="container">

            <div class="row">


                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">

                    <div class="post-data">


                        <div id="poster">
                            <img src="/media/{{fidcontent.uid.profilepic}}" alt="{{fidcontent.uid.Email}}" title="{{fidcontent.uid.Email}}">
                            <p>
                                <dl>
                                    <dt>
                                        {{fidcontent.Heading}}
                                    </dt>
                                        <dd>Title - >{{fidcontent.feed}}</dd>
                                </dl>
                            </p>
                        </div>
                            <div class="users">

                                {% for comment in comments %}
                                    <div class="uinfo">
                                        <img src="/media/{{comment.uid.profilepic}}" alt="{{comment.uid.Email}}" title="{{comment.uid.Email}}">
                                        <h1>{{comment.uid.First_Name}}</h1>

                                    </div>

                                        <div class="feed">
                                            <p>
                                                {{comment.comments}}
                                            </p>
                                            <div id="timer">
                                                {{comment.comment_post_time}}
                                            </div>

                                        </div>
                                        <hr color="red" size = 3>
                                    {% endfor %}
                            </div>



                    </div>

                </div>

            </div>


    </div>

    <div class="">

        <form class="form-control" id="test" action="{% url 'coms:addcomment' %}" method="post">
            {% csrf_token %}

            {{form.as_table}}

            <input type="hidden" name="fid" value={{fid}}>

            <input type="submit" name="addComment" value="Comment">
        </form>

    </div>

    </body>
</html>
