{% load static %}
{% load strf %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="theme-color" content="#6a89cc">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{% static './comments/img/icon.jpeg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static './comments/css/styles.css' %}">
    <meta charset="utf-8">
    <title>HiQ | Feed</title>
  </head>
  <body class="body">
      <div class="nav">
            <div class="navbar car">
              <img src="{% static './home/img/career.svg' %}" class="logo" alt="">
            </div>

            <div class="navbar ham">
              <img src="{% static './home/img/hamburger.jpg' %}" class="logo" alt="">
            </div>

            <div class="navbar options">
              <a href="{% url 'home:home' %}">Home</a>
            </div>

            <div class="navbar options">
              <a href="{% url 'profile:profile' %}">Profile</a>
            </div>

            <div class="navbar options">
              <a href="{% url 'events:events' %}">Events</a>
            </div>

            <div class="navbar options">
              <a href="{% url 'Feeds:Feeds' %}">Feeds</a>
            </div>

            <div class="navbar options">
              <a href="{% url 'gallery:view_photo' %}">Gallery</a>
            </div>
            
            {% if loginshow %}

                <div class="navbar options first">
                    <a href="{% url 'logout:logout' %}"><button type="button" id="showForm"  class="btn btn-danger topbtn" name="button">Log out</button></a>
                </div>

            {% else %}

            <div class="navbar options first">
                <a href="{% url 'login:login' %}"><button type="button" id="showForm"  class="btn btn-success topbtn" name="button">Log in</button></a>
            </div>
            {% endif %}

        </div>


    <div class="posts">
      <!-- user's post template -->
      <div class="feed1">
        <div class="row">
          <div class="col-md-1">
            <img src="/media/{{fidcontent.uid.profilepic}}"class="profile" alt="profile">
          </div>
          <div class="col-md-1 name usr">
            <p>{{fidcontent.uid.First_Name}}</p>
          </div>
        </div>
        <!-- text template -->
        <p class="feed-text commentFeed">{{fidcontent.feed}}</p>
        <br>
      </div>
      <!-- end -->

      <!-- comments tepmlate -->

      {% for comment in comments%}

          <div class="feed2">
            <div class="row">
              <div class="col-md-1">
                <img src="/media/{{comment.uid.profilepic}}"class="com-profile" alt="profile">
              </div>
              <div class="col-md-1 name2 usrr">
                <strong><p>{{comment.uid.First_Name}}</p></strong>
              </div>
            </div>
            <!-- text template -->
            <p class="feed-text2">{{comment.comments}}</p>
            <br>
            <span class="timer">{{comment.comment_post_time|time}}</span>
            <hr>
          </div>

      {% endfor %}

      <!-- end -->

    </div>

    <!-- adding comment form -->
    <div class="comment_Action">
      <form class="form-group" action="{% url 'coms:addcomment' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="fid" value={{fid}}>
        <textarea type="text" name="comments" class="form-control cm" required placeholder="comment" cols="30"></textarea>
        <button type="submit" class="btn btn-info send" name="button">send </button>
      </form>
    </div>
    <!-- end -->
  </body>
</html>
