{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="theme-color" content="#6a89cc">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{% static 'hq/img/icon.jpeg' %}">
    <link rel="stylesheet" href="{% static 'hq/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'hq/css/styles.css' %}">
    <meta charset="utf-8">
    <title>HiQ | Profile</title>
  </head>
  <body class="user">
    <div class="nav">
      <div class="navbar car">
        <img src="{% static 'hq/img/career.svg' %}" class="logo" alt="">
      </div>
      <div class="navbar ham">
        <img src="{% static 'hq/img/hamburger.jpg' %}" class="logo" alt="">
      </div>
      <div class="navbar first options">
        <a href="{% url 'home:home' %}">Home</a>
      </div>
      <div class="navbar options">
        <a href="{% url 'events:events' %}">Events</a>
      </div>
       <div class="navbar options">
        <a href="#">Projects</a>
      </div>
      <div class="navbar options">
        <a href="{% url 'developers:contact' %}">Contact</a>
      </div>
      <!-- <div class="navbar options">
          <button type="button" id="showForm" class="btn btn-success topbtn" name="button">Log in</button>
      </div> -->
      <!-- <div class="navbar options">
          <button type="button" id="showForm" class="btn btn-info topbtn" name="button">Sign Up</button>
      </div> -->
    </div>

    <div class="userInfo">
      <img src="img/profile.jpg" class="imgDp" alt="profileImg"> <span class="profName">Name</span>
      <br>
      <!--

        USER INFO FROM THE DATABASE

       -->
      <button type="button" class="btn btn-info upload" name="button">Upload Project</button>
      <br>
      <button type="button" class="btn btn-danger logout" name="button">Log Out</button>
      <button type="button" class="btn btn-success updateinfo" name="button">Update info</button>
    </div>
    <div class="projectList">
      <span class="static">
        <center>
          <h5 class="title1">Projects</h5>
        </center>
        <!-- <div class="row container ">
          <div class="col-md-2 labels">
            Ongoing
          </div>
          <div class="col-md-2 labels">
            Completed
          </div>
        </div> -->
        <div class="label">
          <p class="labels"> Ongoing</p>
          <p class="labels"> Completed</p>
        </div>
        <hr>
        </span>
    </div>


  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'hq/js/App.js' %}"></script>
</html>
