*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    top:0;

}

body{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    min-height: 100vh;
}

.login-cont
{
    width: 50%;
    margin: 0px auto;
    /* background-color: red; */
}
form{
    margin:  0 auto;
    width: 60%;
    position: absolute;
    height: 75%;
    left:20%;
    background-color: inherit;
    margin-top: 17%;
}

#email , #password{
    height: 40px;
    border-radius: 5px;
}
