*
{
    background-image: url('../');
}
body
{
    background-color: #f00;
}

.divide
{
    background-color: #123;
    margin: 4vw;
    padding: 1vw;
}

h1
{
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to left,navy,blue);
    text-decoration: underline;
    padding: 3vh;
    color: #fff;
    text-shadow: 3px -3px 3px #fff;
}


table
{
    background-color: #123;
    color: #fff;
}


th
{
    font-size: 20px;
    background-color: #456;
    text-align: center;
}
.main-navbar
{
    display: flex;
}


.btn
{
    flex:1;
}


.display-pro
{
    box-sizing: border-box;
    border-radius: 1.5vw;
    padding: 1.5vw;
    margin:1.5vw auto;
    background-color: #095;
}


.display-pro>p
{
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin:1vw auto;

}


#projectname
{
    background-color: #000;
    font-size: 30px;
    display: block;
    border-radius: 2vw;
    text-align: center;
    text-decoration: underline;
}

#projectcontent
{
    box-sizing: border-box;
    background-color: #000;
    font-size: 20px;
    display: block;
    text-align: left;
    padding: 6px;
}


#projectdate
{
    box-sizing: border-box;
    background-color: inherit;
    font-size: 20px;
    display: block;
    text-align: right;
    padding: 6px;
}


#deletetab
{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
