*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  color: white
}
.form-control{
  width: 80%;
}
.infoUsers{
    background-color: inherit;
    color: #000;
    border: none;
    margin-left: 10px;
}

@media only screen and (min-width:800px){

  .body{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    min-height: 100vh;
  }
  .logo{
    height: 50px;
  }
  .first{
    margin-left: auto;
  }
  .nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
    z-index: 3;
    opacity: 1;
  }
  .ham{
    display: none;
  }
  .navbar{

  }
  .navbar>a{
    text-decoration: none;
    color: black;
    font-size: 17px;
  }

  .topbtn{
    height: 30px;
  }
  .cover1{
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: 90vh;
    color: #343434;
    z-index: 1;
    background: url("../img/preview.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(10px); */
  }
  .cover{
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: rgba(34,34,34,0.8);
    height: 90vh;
    z-index: 2;
    color: #343434;
  }
  h1{
    font-size: 200px;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../img/biz.jpg") left no-repeat;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
  }
  .special{
    font-size: 20px;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../img/biz.jpg") left no-repeat;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
  }
  .motto{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ecf0f1;
    opacity: 0.6;
  }
  .Ideation{
    position: absolute;
    top: 110vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 90vh;
  }
  .img{
    height:400px;
  }
  .info1{
    position: absolute;
    right: 10%;
    left: 50%;
    top:20vh;
    font-family:sans-serif;
    font-size: 40px;
  }
  .handsonskills{
    position: absolute;
    top: 190vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 90vh;
  }
  .img2{
    position: absolute;
    right: 0;
    height: 400px;
  }
  .info2{
    position: absolute;
    left: 10%;
    right: 50%;
    top: 20vh;
    font-family:sans-serif;
    font-size: 40px;
  }
  .team{
    position: absolute;
    top: 270vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .img3{
    position: absolute;
    left: 0;
    height: 400px;
  }
  .info3{
    position: absolute;
    right: 10px;
    left: 50%;
    top:9vh;
    font-family:sans-serif;
    font-size: 40px;
  }
  .gethired{
    position: absolute;
    top: 360vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .img4{
    position: absolute;
    right: 0;
    height: 400px;
  }
  .info4{
    position: absolute;
    left: 10px;
    right: 50%;
    top: 5vh;
    font-family:sans-serif;
    font-size: 40px;
  }
  .footer{
    position: absolute;
    top: 430vh;
    z-index: 2;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    width: 100%;
    height: 100px;
  }
  .footerIcon{
    padding-top: 10px;
    height: 40px;
    margin-left: 30%;
    margin-right: 10%;
  }
  .form{
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
  .login{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    height: 90%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .ff{
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    filter: blur(2px);
  }
  .k{
    margin-top: 5%;
  }
  .z{
    margin-top: 40%;
  }
  .close{
    margin-right: 10px;
    margin-top: 10px;
  }
  .content{
    position: absolute;
    top: 0;
    bottom: 0 ;
    right: 20%;
    left: 30%;
  }
  .backContent{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    left: 30%;
    display: none;

  }
  .user{
    min-height: 100vh;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
  }
  .userInfo{
    position: fixed;
    height: 100vh;
    width: 30%;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
  }
  .projectList{
    /* min-height: 50vh; */
    width: 55%;
    position: absolute;
    top: 0;
    left: 45%;
    /* background-color: blue; */
  }
  .imgDp{
    margin-top: 65px;
    margin-left: 32%;
    margin-right: 32%;
    min-height: 100px;
    width: 100px;
    border-radius: 100px;
  }
  .profName{
      display: none;
    position: absolute;
    top: 100px;
    left: 45%;
  }
  .upload{
    position: absolute;
    bottom: 0;
    left: 30%;
  }
  .title1{
    margin-top: 65px;
  }
  .labels{
    margin: auto;
    color: black;
  }
  .label{
    display: flex;
  }
  .static{

    width: 80%;
  }
  .logout{
    position: absolute;
    bottom: 0;
  }
  .updateinfo{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .label{
    display: flex;
  }
  .posts,.events-post{
    padding-top: 60px;
  }
  .add-feed-section{
    display: inline;
    height: 50px;
  }
  .text-feed{
    color:grey;
    opacity: 0.6;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    margin-left: 1%;
    padding-left: 8px;
  }
  .text-feed:focus{
    color:black;
    opacity: 1;
  }
  .post-btn{
    position: absolute;
    top: 70px;
    right: 2%;
    height: 70px;
    width: 100px;
    font-size: 15px;
  }
  .feed{
    box-sizing: border-box;
    margin: 4px 5% 50px 5%;
    width: 90%;
    background-color: #2345;
    min-height: 200px;
    border-radius: 5px 5px 0px 0px;
    height: auto;

  }
  .profile{
    height:90px;
    width: 90px;
    border-radius: 100px;
    margin: 5px 1px 1px 4px;
  }
  .name{
    margin:  10px 100px 10px 40px;
    font-size: 18px;
  }
  .usr{
    padding-top: 20px;
  }
  .feed-text{
    padding: 4px 4px 0px 4px;
    margin-bottom: 40px;
    font-size: 17px;
  }
  .comment-section{
    background-color: #2345;
    position: absolute;
    margin: 0px 0% 0px 0%;
    width: 90%;
    border-radius: 0px 0px 5px 5px;
  }
  .com{
    margin-left: 10px;
    color: white
  }
  .count{
    margin-left: 20px;
  }
  .row{
    box-sizing: border-box;
    width: 90%;
  }
  .time{
    margin-left: auto;
    margin-right: 10px;
    font-size: 12px;
  }
  .ll{
    width: 50%;
    margin-left:4px;
  }
  .hide{
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #b8e974;
    height: 50px;
    width: 50px;
    padding: 10px;
    z-index: 2;
    opacity: 1;
    border-radius: 50px;
  }
  .ev{
    display: none;
  }
  .feed2{
    box-sizing: border-box;
    margin: 0px 0% 0px 0%;
    width: 100%;
    min-height: 30px;
    border-radius: 5px 5px 0px 0px;
    height: auto;
  }
  .feed-text2{
    padding: 0px 0px 0px 20px;
    margin-bottom: 2px;
    font-size: 15px;
  }
  .feed1{
    box-sizing: border-box;
    margin: 0px 0% 0px 0%;
    width: 100%;
    background-color: #2345;
    min-height: 200px;
    border-radius: 5px 5px 0px 0px;
    height: auto;

  }
  .com-profile{
    height:50px;
    width: 50px;
    border-radius: 100px;
    margin: 5px 1px 1px 4px;
  }
  .usrr{
    padding-top: 10px;
  }
  .name2{
    margin:  10px 100px 10px 0px;
    font-size: 18px;
  }
  .comment_Action{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    position: fixed;
    width: 100%;
    bottom:10px;
  }
  .cm{
    width: 100%;
  }
  .send{
    position: absolute;
    bottom: :0px;
    width:100%;
    margin: 0px;
  }
  .uploadForm{
    padding-top: 100px;
    max-width: 60%;
    /* justify-content: center; */
  }
}


@media only screen and (max-width:800px){
  .body{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    min-height: 100vh;
  }
  .logo{
    height: 40px;
  }
  .nav{
    position: fixed;
    width: 100%;
    display: block;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
    opacity: 1;
    z-index: 3;
  }
  .first{
    margin-left: auto;
  }
  .car{
    display: none;
  }
  .navbar{
    font-size: 15px;
  }
  .options{
    display: none;
  }
  .navbar>a{
    text-decoration: none;
    color: black;
    margin-left: 50%;
  }
  .topbtn{
    height: 30px;
    /* width: 50px; */
    font-size: 15px;
  }
  .cover1{
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: 50vh;
    color: #343434;
    z-index: 1;
    background: url("../img/preview.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(10px); */
  }
  .cover{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    height: 52vh;
    z-index: 2;
    background-color: rgba(34,34,34,0.8);
    /* background-color: grey; */
  }
  h1{
    font-size: 100px;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../img/biz.jpg") left  no-repeat;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
  }
  .motto{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ecf0f1;
    opacity: 0.6;
  }
  .Ideation{
    position: absolute;
    top: 60vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 90vh;
  }
  .img{
    height:100px;
  }
  .info1{
    position: absolute;
    right: 10px;
    left: 60%;
    top:10vh;
    font-family:sans-serif;
    font-size: 18px;
  }
  .handsonskills{
    position: absolute;
    top: 100vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .img2{
    position: absolute;
    right: 0;
    height: 100px;
  }
  .info2{
    position: absolute;
    left: 10px;
    right: 50%;
    top: 5vh;
    font-family:sans-serif;
    font-size: 18px;
  }
  .team{
    position: absolute;
    top: 140vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .img3{
    position: absolute;
    left: 0;
    height: 130px;
  }
  .info3{
    position: absolute;
    right: 10px;
    left: 55%;
    top:9vh;
    font-family:sans-serif;
    font-size: 18px;
  }
  .gethired{
    position: absolute;
    top: 180vh;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .img4{
    position: absolute;
    right: 0;
    height: 100px;
  }
  .info4{
    position: absolute;
    left: 10px;
    right: 50%;
    top: 5vh;
    font-family:sans-serif;
    font-size: 18px;
  }
  .footer{
    position: absolute;
    top: 220vh;
    bottom: 0;
    z-index: 2;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    width: 100%;
    height: 80px;
  }
  .footerIcon{
    padding-top: 10px;
    width: 30px;
    margin-left: 20%;
    margin-right: 10%;
  }
  .form{
    position: fixed;
    z-index: 4;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  .login{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    height: 100%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .ff{
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    filter: blur(2px);
  }
  .k{
    margin-top: 5%;
  }
  .z{
    margin-top: 40%;
  }
  .close{
    margin-right: 10px;
    margin-top: 10px;
  }
  .content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 15%;
  }
  .backContent{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 15%;
    display: none;
  }
  .lg{
    margin-left: 20%;
  }
  .user{
    min-height: 50vh;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
  }
  .userInfo{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    z-index: 2;
    right: 0;
    left: 0;
    display: none;
    /* hide using jquery*/
  }
  .projectList{
    /* min-height: 50vh; */
    width: 90%;
    position: absolute;
    /* top: 0; */
    left: 10%;
    /* background-color: blue; */
  }
  .imgDp{
    margin-top: 65px;
    margin-left: 10%;
    margin-right: 30%;
    height: 50px;
    width: 50px;
    border-radius: 100px;
  }
  .profName{
    display: none;
    margin-top: 65px;
    margin-left: 50%;
  }
  .upload{
    bottom: 50%;
    left: 10%;
    font-size: 12px;
  }
  .title1{
    margin-top: 65px;
  }
  .labels{
    margin: auto;
    color: black;
  }
  .static{
    width: 100%;
  }
  .logout{
    /* position: absolute; */
    bottom: 50%;
    font-size: 12px;
  }
  .updateinfo{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
  }
  .label{
    display: flex;
  }
  .posts,.events-post{
    padding-top: 56px;
  }
  .add-feed-section{
    display: inline;
    height: 50px;
  }
  .text-feed{
    color:grey;
    opacity: 0.6;
    width: 70%;
    border-radius: 15px 15px 15px 15px;
    margin-left: 1%;
    padding-left: 8px;
  }
  .text-feed:focus{
    color:black;
    opacity: 1;
  }
  .post-btn{
    position: absolute;
    top: 80px;
    right: 10%;
    height: 40px;
    width: 50px;
    font-size: 15px;
  }
  .feed{
    box-sizing: border-box;
    margin: 4px 5% 50px 5%;
    width: 90%;
    background-color: #2345;
    min-height: 200px;
    border-radius: 5px 5px 0px 0px;
    height: auto;

  }
  .profile{
    height:50px;
    width: 50px;
    border-radius: 100px;
    margin: 5px 1px 1px 4px;
  }
  .name{
    margin:  -50px 100px 10px 70px;
    font-size: 13px;
  }
  .usr{
    padding-top: 20px;
  }
  .feed-text{
    padding: 4px 4px 0px 4px;
    margin-bottom: 40px;
    font-size: 15px;
  }
  .comment-section{
    background-color: #2345;
    position: absolute;
    margin: 0px 0% 0px 0%;
    width: 90%;
    border-radius: 0px 0px 5px 5px;
  }
  .com{
    margin-left: 10px;
    color: white
  }
  .count{
    margin-left: 20px;
  }
  .row{
    box-sizing: border-box;
    width: 90%;
  }
  .time{
    margin-left: auto;
    margin-right: 10px;
    font-size: 12px;
  }
  .ll{
    width: 50%;
    margin-left:4px;
  }
  .hide{
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #b8e974;
    height: 50px;
    width: 50px;
    padding: 10px;
    z-index: 2;
    opacity: 1;
    border-radius: 50px;
  }
  .ev{
    display: none;
  }
  .feed2{
    box-sizing: border-box;
    margin: 0px 0% 0px 0%;
    width: 100%;
    min-height: 30px;
    border-radius: 5px 5px 0px 0px;
    height: auto;
  }
  .feed-text2{
    padding: 0px 0px 0px 3px;
    margin-bottom: 2px;
    font-size: 15px;
  }
  .feed1{
    box-sizing: border-box;
    margin: 0px 0% 0px 0%;
    width: 100%;
    background-color: #2345;
    min-height: 200px;
    border-radius: 5px 5px 0px 0px;
    height: auto;

  }
  .com-profile{
    height:30px;
    width: 30px;
    border-radius: 100px;
    margin: 5px 1px 1px 4px;
  }
  .usrr{
    padding-top: 10px;
  }
  .name2{
    margin:  -35px 100px 5px 40px;
    font-size: 18px;
  }
  .comment_Action{
    background-image: linear-gradient(125deg,#b8e974,#6a89cc);
    position: fixed;
    width: 100%;
    bottom:10px;
  }
  .cm{
    width: 100%;
  }
  .send{
    position: absolute;
    bottom: :0px;
    width:100%;
    margin: 0px;
  }
  .uploadForm{
    padding-top: 100px;
    /* justify-content: center; */
  }
  .special{
    font-size: 15px;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../img/biz.jpg") left no-repeat;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
  }
}
